langchain
langchain-groq
faiss-cpu
tiktoken
langchain-openai
langchain-community
chromadb
sentence-transformers
pypdf
python-dotenv
pymupdf
python-docx
unstructured[docx]
docx2txt
pandas
openpyxl
jq
matplotlib
##Embeddings
langchain-huggingface
sentence-transformers